<%- include("partials/header.ejs"); -%>

<div class="text-center pt-4 pb-5">
  <h1 class="mb-3">Posts</h1>
  
</div>

<div class="container">
    <% posts.forEach(function(post){ %>
    <div class="row mb-5">
      <div class="py-5 px-3 bg-dark rounded text-white">
        <h2 class="card-title"><%=post.title%></h2>
        <p>
          <%= post.content.length > 100 ? post.content.substring(0, 100) + "..." : post.content %>
        </p>
        <form action="/posts/<%=post._id%>" method="POST">
        <input type="hidden" name="usertype" value="student" />
        <input type="hidden" name="postId" value="<%=post._id%>" />
        <input type="hidden"  name="singleclassId" value="<%=singleclassId%>" >
      
        <button type="submit" class="btn btn-outline-light">Read More</button>
      </form>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include("partials/footer.ejs"); -%>

