<%- include("partials/header"); -%>
<div class="container pt-4">
  <h1 class="my-3 text-center"><%=title%></h1>
  <p style="text-align: justify" class="mb-5"><%=content%></p>

  <form action="/submission" method="POST">
    <input type="hidden" name="postId" value="<%=postId%>" />
    <input type="hidden" name="singleclassId" value="<%=singleclassId%>" />

    <div class="form-floating">
      <input
        id="roll"
        class="form-control mb-3"
        type="text"
        name="rollno"
      /><label for="roll">Roll Number</label>
    </div>

    <div class="form-floating">
      <input
        id="link"
        class="form-control mb-3"
        type="text"
        name="submission"
      /><label for="link">Link</label>
    </div>

    <div class="text-align-left">
      <button type="submit" class="btn btn-dark">Submit</button>
    </div>
  </form>
</div>

<%- include("partials/footer"); -%>
